@font-face {
  font-family: "DungGeunMo";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url("../assets/bg_pattern.jpg");
  background-repeat: repeat;
  background-size: auto;
  background-position: top left;
}

html,
body,
#root {
  font-family: "DungGeunMo", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
}

ul {
  margin-bottom: 0;
}

body.light-mode {
  position: relative;
  background-image: url("../assets/bg_pattern.jpg");
  background-repeat: repeat;
  background-size: auto;
  background-position: top left;
  color: #fff;
}

.light-mode::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 0;
}

.light-mode * {
  position: relative;
  z-index: 1;
}

.navbar-title {
  font-size: 1.5rem;
  color: #fff;
}

.icon-img, .dark-mode-icon {
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}

.dark-mode-icon {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
